<% form_for(:email, :url => reset_password_parties_path) do |f| %>
  <p>We will send you an E-Mail with a new random password.</p>
  <label>E-Mail Address<%= f.text_field :email_address %></label>
  <%= submit_tag "Send new password" %>
<% end -%>
