<form>
	<div id="publicProfile_signup">
		<div class="signup_section contact_details">
			<h3>Details:</h3>
			<p>*(required)</p>
			<table class="signup" width="100%" cellpadding="4px">
				<tr>
					<td width="15%"><label>User Name <span class="small">(will be displayed):</span>*</label></td>
					<td width="85%"><input type="text" class="text" size="20"/></td>
				</tr>
				<tr>
					<td><label>Photo/Avatar</label></td>
					<td><input type="file" /></td>
				</tr>
				<tr>
					<td><label>First Name:</label></td>
					<td><input type="text" class="text" size="20"/></td>
				</tr>
				<tr>
					<td><label>Last Name:</label></td>
					<td><input type="text" class="text" size="20"/></td>
				</tr>
				<tr>
					<td><label>Company:</label></td>
					<td><input type="text" class="text" size="30"/></td>
				</tr>
				<tr>
					<td><label>Website URL:</label></td>
					<td><input type="text" class="text" size="30"/></td>
				</tr>
				<tr>
					<td><label>Office Phone:</label></td>
					<td><input type="text" class="text" size="20"/></td>
				</tr>
				<tr>
					<td><label>Cell:</label></td>
					<td><input type="text" class="text" size="20"/></td>
				</tr>
				<tr>
					<td><label>Alt. Phone:</label></td>
					<td><input type="text" class="text" size="20"/></td>
				</tr>
				<tr>
					<td><label>Fax:</label></td>
					<td><input type="text" class="text" size="20"/></td>
				</tr>
				<tr>
					<td><label>Address Line 1:</label></td>
					<td><input type="text" class="text" size="40"/></td>
				</tr>
				<tr>
					<td><label>Address Line 2:</label></td>
					<td><input type="text" class="text" size="40"/></td>
				</tr>
				<tr>
					<td><label>City:</label></td>
					<td><input type="text" class="text" size="20"/></td>
				</tr>
				<tr>
					<td><label>Province/State:</label></td>
					<td><input type="text" class="text" size="20"/></td>
				</tr>
				<tr>
					<td><label>Postal/Zip Code:</label></td>
					<td><input type="text" class="text" size="15"/></td>	
				</tr>
				<tr>			
					<td><label>Description:</label></td>	
					<td><textarea class="text" cols="45" rows="10"></textarea></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>200 Character Limit. Remaining:<input type="text" value="200" maxlength="3" size="3" class="text"/></td>
				</tr>
			</table>
		</div>
		<div class="signup_section optional_inputs">
			<!--- Optional Input Box : User can edit title, and can create additional boxes -->
			<div class="optional_input">
				<p><label class="h3">About:</label><a href="">[EDIT TITLE]</a></p>
				<p><textarea rows="8" cols="45" class="text"></textarea></p>
				<p>200 Character Limit. Remaining:<input type="text" value="200" maxlength="3" size="3" class="text"/></p>
				<p class="req_more">[Add Another Section]</p><!-- This link creates another "optional_input" DIV -->
			</div>
		</div>
		<div class="signup_section profile_feeds">
			<div class="optional_feed">
				<h3>My Feeds:</h3>
				<p><label>Title:</label><input type="text" class="text" size="20"/></p>
				<p><label>Feed URL:</label><input type="text" class="text" size="40"/><a class="addFeed">[Add another feed]</a></p>
			</div>
		</div>
	</div>
</form>
	
		
		
		
		
		
		