<p>We have sent you a confirmation E-Mail. Please read the mail and follow the instructions attached.</p>
<p>If you have not received the E-Mail within the next five minutes, please verify your spam folder.</p>
<p><strong>Once you have received the E-Mail…please follow the link<strong></p>
