<p>Unfortunately, we do not understand the request you just sent us.  Do you want
to <%= link_to("sign up", new_profile_url) %> for a profile again or go back to our <%= link_to("home page", "/") %> ?</p>
