<style>
#reportBug { border:2px solid #D4E1F2; -moz-border-radius:7px; width:500px; padding:10px; margin:20px auto; overflow:hidden; font-family:sans-serif; font-size:14px;}
#reportBug h2 { font-size:19px; line-height:200%}
#reportBug h2 a { color: #36428B; text-decoration:none;}
#reportBug form { float:left; width:440px; }
#reportBug form p { margin-bottom:5px; overflow:hidden}
#reportBug form p input, #reportBug form p textarea { float:left; display:inline; width:272px; border:1px solid #CDDBF0; padding:3px; margin:0px;}
#reportBug form p textarea { height:200px; }
#reportBug form p input:hover, #reportBug form p textarea:hover, #reportBug form p input:focus, #reportBug form p textarea:focus { border:1px solid #36428B; background-color:#f9f9f9; }
#reportBug form p label { float:left; display:inline; width:150px; text-align:right; font-weight:bold; margin-right:10px; margin-top:0px;}
#reportBug p span { font-size:11px; float:right; margin-right:105px;}
#reportBug p span b { color:#36428B; }
#reportBug p input.submit { float:right; width:auto; cursor:pointer;}
#reportBug p input.submit:hover { color:#36428B; }
</style>

<div id="reportBug">
<h2>Please complete the form below to report a bug</h2>
<p>A bug is an error in the functionality of a feature. Should you experience such a malfunction please share it with us so we may fix it and improve your product.</p>
<p>You can also send us a detailed email at <a href="mailto:bug@xlsuite.com" title="bug@xlsuite.com">bug@xlsuite.com</a></p>
<p><b>Thank you!</b></p>

<form method="post" action="/admin/contact_requests/bugs" enctype="multipart/form-data">
 <p class="roomy">Please complete the form below to report a bug:</p>
  <fieldset>
    <p>
     <label for="bug_subject">About</label>
      <%= text_field_tag "bug[subject]", "", :class => "text" %>
    </p>
    <p>   
     <label for="bug_body">Details</label>
     <%= text_area_tag "bug[body]" %>
  	</p>
    <p>
      <label for="bug_file">Attachment</label>
      <%= file_field_tag "attachment[uploaded_data]" %>
      <span>*screenshot/other, <b>limited to 2mb</b></span>
    </p>
  	<p>
     <%= submit_tag "Kill the bug", :name => nil %>
    </p>
  </fieldset>
</form>
</div>