*.iws
*.zip
*.sql
*.sql.bz2
*.bak
*-stable
*.log
*.pid
*.swp
sources
stable
attachments
assets
tmp
svnmerge-commit-message.txt
merger.rb
index
.project
previous_failures.txt
examples.html
nbproject
ci
.vimrc
zip-code-databases
