<table>
  <thead>
    <tr>
      <td style="width:30%">MLS #</td>
      <td>Description</td>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "listing", :collection => @listings%>
  </tbody>
</table>