<p class="description">Presents the contents of this field directly to the user.  Use <%= link_to("Textile", "http://textism.com/tools/textile/") %> formatting, or write HTML content.</p>
<%= text_area("behavior_values", "text", :size => "80x30") %>
