<form method="post" action="http://xlsuite.com/admin/forum_categories/1/forums/7/topics">
    <fieldset>
    <p class="bold">Please take a moment to describe the steps that brought you to this internal server error page.</p>
    <input name="return_to" type="hidden" style="display:none" value="/bug-thank-you"/>
    <p>
     <label for="contact_request_subject">Subject:</label>
     <input class="text" name="topic[title]" id="contact_request_subject" type="text" size="50" />
    </p>
    <p>
     <label for="contact_request_description">Description:</label>
     <textarea name="topic[body]" id="contact_request_description" class="text" type="text" cols="40" rows="5"></textarea>
    </p>
    <p><input class="button" type="submit" value="Submit" /></p>
    </fieldset>
</form>