<div class="errorForm">

<h2>500 - Internal server error.</h2>
<p>There may be a problem with the way this page is supposed to function.</p>

<%= render :partial => '/shared/rescues/contact_request500' %>
</div>