<div id="newCategory" class="newForum forumInput" style="display: none;">
  <div class="threadSubject">
    <h2>New Category</h2>
  </div>
  <% form_for :forum_category, :url => forum_categories_path do |f| -%>
    <%= render :partial => "forum_categories/form", :locals => { :f => f } %>
    <%= submit_tag 'Create', :id => "forumPost", :class => "button", :onclick => "return checkIfForumCategoryNameIsBlank()" %> 
    <%= link_to_function 'Cancel', "$('newCategory').hide()", :class => "link_button" %>
  <% end -%>
</div>
