.wrap-permissions { }



#permission_sets { width: 100%; }
    ul#permission_sets li { width: 100%; padding: 4px 0px;}
        ul#permission_sets li a {padding-left: 4px;}
  

#permission_set_details input[type=submit] { display: none; }



.permSets {width: 64%; border-bottom: 1px solid #ddd; float: left; }


#permission_set_details_wrapper { display: block; float: right; width: 36%; text-align: center; }
#permission_set_details_throbber { position: absolute; width: 16px; height: 16px; right: -32px; top: 86px; }
p#new_permission_set {width: 90%; border: 1px solid #ddd; padding: 5px 0px; margin: 0px auto; position: relative; }
    p#new_permission_set a {margin: 0px 6px;}
    p#new_permission_set a img {position: absolute; top: 6px; left: 28px; }
    
#permission_set_details { text-align: center; }
#permission_set_details input[type=submit] { display: none; }
#permission_set_details p label {text-align: left; margin-right: 6px;}

#permissions h2, #subpermission_sets h2, #new_permission_set h2  {width: 254px; font-weight: bold; display: block; border-bottom: 1px solid #ddd; padding-bottom: 2px; text-align: left; margin-left: 14px; margin-top: 10px; }
#permissions ul.multiple_select, #subpermission_sets ul.multiple_select {margin-left: 14px; width: 248px; text-align: left;}

p.select_clear a { margin: 0px 6px; margin-bottom: 6px; }

#close_permission_set_details, #new_permission_set input.button { margin: 20px 0px; }
#new_permission_set input.button { margin: 20px 116px; }

#new_permission_set h2 { margin-bottom: 1em; }

#new_permission_set p.select_clear, #new_permission_set p label { margin-left: 14px }

#errorExplanation {}
#errorExplanation p {margin-left: 14px; margin-bottom: 10px; }
#errorExplanation h2 {font-weight: normal; border: 1px solid #ddd; color: red; padding: .5em;}
#errorExplanation ul {list-style-type: disc; margin-left: 14px;}
#errorExplanation ul li {margin-left: 14px; margin-bottom: 4px;}
.fieldWithErrors {width: 244px; border: 1px solid red; padding: 4px; margin-left: 14px;}
.fieldWithErrors input {}


