/* XLsuite  CSS > reset

created: 2007-06-22 | by: imaxim@gmail.com 
updated: 2007-06-22 | by: imaxim@gmail.com 
purpose: reset basic elements to default behaviour 
details: 

*/
html,*{margin:0;padding:0;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;} 
table {border-collapse:collapse;border-spacing:0;} 
fieldset,img {border:0;} 
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal; font-weight:normal;} 
ol,ul {list-style:none;} 
caption,th {text-align:left;} 
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;} 
q:before,q:after {content:'';} 
abbr,acronym { border:0;} 

/* Max's add-on proposals */
/* 1em = 10px */
html>body{font-size: 12px; line-height: 18px;}
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
ul, ol, dl, li, dt, dd { list-style: none; }
td, th, caption { font-size: 100%; font-weight: normal; text-align: left; } caption,th { text-align:left; }
q:before,q:after { content:'’; }
