#xlsuite-embed-suites-catalog                        {margin: 0 auto; border:1px solid #EEE; padding: 10px; width: 90%; font-family:Arial, Helvetica, sans-serif; color: #555;.
                                                      -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; margin-top:10px;}
/* SEARCH BAR */
#xlsuite-embed-suites-search-bar                     {border: 1px solid #EEE; text-align:center; padding:5px; background-color:#EEE;
                                                      -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
#xlsuite-embed-suites-search-bar input, 
#xlsuite-embed-suites-search-bar select              {font-size: 11px;}

/* ONE SUITE */
li.xlsuite-embed-suite-item                          {overflow: hidden;}
li.xlsuite-embed-suite-item h2                       {font-weight: bolder; position:relative; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
                                                      background-color:#ABCB2A; color: white; margin:5px 0px; padding: 7px 5px 5px 10px ;}
li.xlsuite-embed-suite-item h2 a                     {text-decoration:none; color:white;}			
li.xlsuite-embed-suite-item h2 a:hover:after         {content: "→"; padding-left:5px;}
										   
li.xlsuite-embed-suite-item h2 a.xlsuite_install_button             {position:absolute; right: 5px; top:6px; background-color:white; color: #ABCB2A;border:2px solid #ABCB2A;}
li.xlsuite-embed-suite-item h2 a.xlsuite_install_button:hover       {background-color:#ABCB2A; color: white; border:2px solid white;}
li.xlsuite-embed-suite-item h2 a.xlsuite_install_button:hover:after {content: none; padding:0;}

/* input buttons */
.xlsuite_install_button,
.account_signup_button                               {font-size:11px; font-weight: bold; background-color:white; color: #ABCB2A; border:2px solid #ABCB2A; padding: 1px 11px;  
                                                      font-family:Tahoma, Geneva, sans-serif; cursor:pointer;}					  
.xlsuite_install_button:hover,
.account_signup_button:hover                         {background-color:#ABCB2A; color: white; border:2px solid white;}

/* INFO */
   .xlsuite-embed-suite-more-info                    {float: left; clear:left; width:40%; font-size: 10px; line-height:150%; background-color:#EEE; 
                                                      color: #777; border:1px solid #EAEAEA; margin:5px 0px;
													  position:relative;
                                                      -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
   .xlsuite-embed-suite-more-info div                {padding:5px; border:1px solid #EEE;}
   .xlsuite-embed-suite-more-info p                  {font-family:Tahoma, Geneva, sans-serif; line-height:200%;}
   
/* IMAGE */
img.xlsuite-embed-suite-item-main-image              {width:100%;}
/* sticker */
   .xlsuite-embed-suite-more-info h3                 {font-size:20px;
                                                      background-color:#ABCB2A; color:#FFF; padding: 10px 20px; font-weight:bold;
													  -moz-border-radius-bottomright: 20px; -webkit-border-radius-bottomright: 20px; border-radius-bottomright: 20px;
													  filter:alpha(opacity=90); -moz-opacity:0.9; -khtml-opacity: 0.9; opacity: 0.9;   

													  }
   
/* DETAILS */
dl.xlsuite-embed-suite-item-details                  {float: right; clear:right; overflow:hidden; width: 55%; font-size:11px; line-height:140%; padding: 5px 0px;}
dl.xlsuite-embed-suite-item-details dt               {float: left; display:inline; width: 23%; font-weight:bold; padding:1%;}
dl.xlsuite-embed-suite-item-details dd               {float: left; display:inline; width: 73%; margin-bottom:5px; padding:1%;}
#xlsuite-embed-suites-catalog div.suite-install               {clear: both; position:relative; overflow:hidden; padding:5px 5px 5px 10px; text-align:left; background-color:#EEE;
                                                      -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}

/* catalog pagination */
.xlsuite-embed-suites-paging                         {text-align:center; padding:5px; background-color:#FEFEFE; margin-top:5px; 
                                                      -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
a.xlsuite-embed-suites-paging-number                 {background-color:#EEE;color: #555; margin:0px 1px; padding: 1px 4px 1px 4px;
                                                      font-size:15px; font-weight:bold; font-family:Tahoma, Geneva, sans-serif;
                                                      -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
a.xlsuite-embed-suites-paging-current                {background-color:#555 !important; color: #EEE !important;}

/* INSTALL PROCESS */
/* text inputs */
.account_signup_domain_name_check                    {border: 1px solid #DDD; color: #555; font-weight: bold; font-size: 13px; padding: 2px 5px; width: 200px; 
                                                      -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 5px; margin-bottom:2px;}
.account_signup_email_check                          {border: 1px solid #DDD; color: #555; font-weight: bold; font-size: 13px; padding: 2px 5px; width: 200px;
                                                      -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.account_signup_domain_name_check:focus,
.account_signup_email_check:focus                    {color: black; border:1px solid #ABCB2A;}
/* messages */
.account-signup-domain-checker-status                {width: 200px; display:inline-block; font-size:11px; color:red; font-weight:bold;}
.domain                                              {color: #555; font-weight: bold; font-size: 13px; }
.account-signup-email-checker-status                 {width: 200px; display:inline-block; font-size:11px; color:red; font-weight:bold;}

/* CUSTOM */
.pro     {background-color:#F90; color: #FFF; padding:1px 5px 1px 5px; border:1px solid white; font-weight:bold; text-decoration:none; font-size:10px; cursor:pointer;
           font-family:Tahoma, Geneva, sans-serif; padding: 1px 10px;-moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; white-space:nowrap;}
 .prorow  {background-color:#E9F2C4; padding:5px 0px 5px 0px;}
 .free    {background-color:#ABCB2A; color:#FFF; padding: 1px 10px;-moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; white-space:nowrap; font-weight:bold; }
 .red     {color: red; font-weight:bold; font-size: 12px; padding:0px 0px 0px 10px; text-align:center; cursor:pointer;}
