<div id="contentLeft" class="column">
  <div id="upperLeft">
    <%= render :partial => "shared/logo" %>
  </div>
  <div id="leftConsole">
    <%= render :partial => "shared/left_console" %>
  </div>
</div>
<div id="contentRight" class="column">
  <div id="rightConsole">
    <%= render :partial => "shared/right_console" %>
  </div>
</div>
