<fieldset>
  <!-- <h3>Multi-Domain Management</h3>
  label for="<%= multi_domain.class.name.underscore %>_domain_patterns">Show this <%= multi_domain.class.name.underscore %> when the domain matches one or more of the following patterns:</label> -->
  <%= form.text_area :domain_patterns, :size => "30x2" %>
  <p class="tip"><a href="http://wiki.xlsuite.org/index.php?title=Multi-domain_management" title="xlsuite wiki : multi-domain management">&uArr;What's this?</a><br /><span class="italic">(Separate patterns with a comma or a new line)</span></p>

</fieldset>
