<p>Hello <%= @account_owner.first_name %>,</p>

<p>Thank you for creating a website on <%= @parent_domain_name %>, we're finished installing it and it's ready for you to login and start customizing.</p>

<p>You can login here: http://<%= @domain_name %>/admin</p>

<p>Your new dashboard should help you get started with most of the basic functions that you need to personalize and configure your site.</p>

<p>You can also view more detailed training info by visiting the RESOURCES/TUTORIAL link from the main menu in your administrative panel.</p>

<p>Enjoy your new site.</p>

