<p>Thank you for registering your domain at <%= @parent_domain_name %>!</p>
<p>Please click this link to continue with your registration: <%= link_to(@confirmation_url, @confirmation_url) %></p>
<p>Welcome aboard!</p>
<p>
  If you did not make this request, or if you don't want to register your <%= @domain_name %>, no further action is required. 
  Please do not respond to this message. If you'd like to contact us, visit the contact page of our website at http://<%= @parent_domain_name %>.
</p>
