<p>Someone posted a new comment on your <%= @description%> at <%= @domain_name %></p>

<p><%= link_to @referrer_url, @referrer_url %></p>

<p>Come see what they had to say.</p>
<br />
<p>Thanks,</p>
<p>Admin</p>
<p><%= @domain_name %></p>
