<p>RE: <%= @domain_name %></p>
<p>Thank you for trying the XLsuite platform, we're just writing to tell you that your account <%= @domain_name %> has been deleted.</p>
<p>Feel free to sign up for a new one if you change your mind in the future.</p>
<p>Sincerely,</p>
<p>The XL Group</p>
