<p>Hi!</p>
<p>This is the feed retriever from XLsuite. I'm contacting you because I cannot reach the feed at <%= @feed.url %><p>
<p>I will not check this feed again for 30 days.</p>
<p>You may correct this error by ensuring the feed URL is valid and that the site still exists. Once you update the feed's properties, I will attempt to read this feed again.</p>
<p>
  Thank you!<br/>
  XLsuite's Feed Retriever
</p>
