<p>Hello <%= @account_owner.first_name %>,</p>

<p>Your account at <%= @account_owner.account.name %> has successfully been updated with the latest version of the Suite '<%= @account_template.name %>'. 

<p>Enjoy your site.</p>

