<table id="mapperIndexTable">
  <thead>
    <th>Name</th>
    <th>Description</th>
    <th>Updated at</th>
    <th>Created at</th>
    <th></th>
  </thead>
  <tbody>
    <%= render :partial => "mapper", :collection => @mappers %>
  </tbody>
</table>