<div class="ipage">
  <div id="permission_set_details_wrapper">
    <p id="new_permission_set"><%= link_to(icon_tag("table_add"), new_permission_set_path) %><%= link_to "Create New Permission Set", new_permission_set_path %></p>
    