<div class="errorForm">
<h2> This is an XLsuite future module</h2>

<p>This section is currently under construction. XLsuite is looking for experienced Ruby on Rails, Javascript and HTML developers, graphic designers and quality assurance personnel to join our open source project and help us speed things up.</p>

<!-- the word "join" should go to the register page when it is live -->

<p>Alternately, for corporations and open-source patrons, if you have a need for this or any other section of the XLsuite package that is not yet ready, you can sponsor its development. Depending on commitment, XLsuite can in return boost the priority of your needed modules in the completion order, offer prominent branding in our Partners page, and/or advertising space. Please contact our <a href="mailto:sponsorship@ixld.com" title="sponsorship inquiries">sponsorship department</a>.</p>

<!-- A "xlSuite Partners" page is needed in the front end and then this word should be a link -->

<p>If you are just tired of seeing these under construction pages and want to help us out but don't want any kind of formal involvement you could always make a donation to the cause =).<br />

<!-- need to put in a "thank you for using paypal" page with a return link to the most recent page -->

<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <input name="return_to" type="hidden" style="display:none" value="http://www.xlsuite.com/paypal-thank-you"/>
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="image" class="paypalButton" src="https://www.paypal.com/en_US/i/btn/x-click-but21.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
  <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
  <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHbwYJKoZIhvcNAQcEoIIHYDCCB1wCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBpixhiX5r7xJd0pcfpvC8OT2/AsVgCJMnx+8pfD89m1EZHqQ6YPTOOa66KVIoGxHJ1xwqPviVBcWPaip56G/hCkFR+LucMDRiGxFSpZ34jWhjkgS/xL/KWtlCRDpSAlazTNLYIlWSn57LCIUgs4O8eNKCf/4+a0+bcwdK8N7MBMTELMAkGBSsOAwIaBQAwgewGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIHHkyCteya0aAgcjsGcxuaA96pYttz7mACXr1i7iI4arOmCGxjG9a/lkm8NdIMb4HRYNJQ3dngUAtZtCaW3YKvZsdCMaUBHE+0qe0o/QY+fsjxbezMkqENOdCNJj+D+HZcElKlaHrmSqRbtldN8HYjDGPK4oNCc5ofD8lSrwKvkcby67VFDyAHe1p9N6gGCYwoCTUh5FN7v4HWY5tzFmmZ5Eu3HrM7TLoZQjeJDH/lFb///DgY8fIdC/zpHCh0S0Xz2d00OnmBOPLqI/NODIRXOIT5qCCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTA3MDUwODIyNDEzMVowIwYJKoZIhvcNAQkEMRYEFHdsXrWMcqos3QTJkYWuwsmVjEiyMA0GCSqGSIb3DQEBAQUABIGAUYGFZQO8Kcz3kWPbl6XuB2NUFNiqPhZWRPIfjT4gFPH5CsvLIX15TuTr1J3Vej8RefzctNg7fJO3kbvHg3RcQftDqsGCicaqt7MJEFPsJs+tyTfKt5dBTwkdUxkgcA1ctMkLHlx+wBwpe8QWccCJnu+5RHESL4dUpSUKbSdPm+k=-----END PKCS7-----
  ">
</form>
</p>

<p>If you are interested in becoming involved in XLsuite development please fill out this questionnaire:</p>

<!-- Form below needs a massage, I edited it where I could but may have missed some stuff. Also an "XLSuite thank you" page is needed. there needs to be a link back to the most recent page -->

<form class="contact" method="post" action="/admin/contact_requests">
  <input name="return_to" type="hidden" style="display:none" value="http://www.xlsuite.com/thank-you"/>
  <input name="party[tag_list]" type="hidden" style="display:none" value="OpenSourceForm"/>
  <input name="contact_request[subject]" id="contact_request_subject" style="display:none" type="hidden" value="Open source interest form"/>    
    <fieldset>
    <p class="bold">Contact Information</p>
     <p>
      <label for="contact_request_email" class="left">Email Address:</label>
      <input class="text" name="email_address[main][email_address]" id="contact_request_email" class="right" type="text" size="30" />
     </p>
     <p> 
      <label for="contact_request_company_name" class="left">Company Name:</label>
      <input class="text" name="party[company_name]" id="contact_request_company_name" class="right" type="text" size="30" />
     </p>
     <p> 
      <label for="contact_request_first_name" class="left">First Name:</label>
      <input class="text" name="party[first_name]" id="contact_request_first_name" class="right" type="text" size="30" />
     </p>
     <p>
      <label for="contact_request_last_name" class="left">Last Name:</label>
      <input class="text"name="party[last_name]" id="contact_request_last_name" class="right" type="text" size="30" />
     </p>
     <p>
      <label for="contact_request_phone" class="left">Daytime Contact Number:</label>
      <input class="text" name="phone[main][number]" id="contact_request_phone" class="right" type="text" size="30" />
     </p>
     <p>
      <label for="contact_request_zip" class="left">Postal/Zip Code:</label>
      <input class="text"name="address[main][zip]" id="contact_request_zip" class="right" type="text" size="30" />
    </p>
    </fieldset>
    <fieldset>
    <p class="bold">What kind of skills can you bring to XLsuite?</p>
    <p>(select multiple if applicable)</p>
     <p class="checks">
      <input type="checkbox" name="extra[xl_involvement][1]" class="checkbox" id="xl_html" value="HTML"/><label for="xl_html" class="nudge">&nbsp;HTML</label><br class="clear"/>
      <input type="checkbox" name="extra[xl_involvement][2]" class="checkbox" id="xl_js" value="JavaScript"/><label for="xl_js" class="nudge">&nbsp;JavaScript</label><br class="clear"/>
      <input type="checkbox" name="extra[xl_involvement][3]" class="checkbox" id="xl_mysql" value="MySql"/><label for="xl_mysql" class="nudge">&nbsp;MySql</label><br class="clear"/>
      <input type="checkbox" name="extra[xl_involvement][4]" class="checkbox" id="xl_ror" value="Ruby on Rails"/><label for="xl_ror" class="nudge">&nbsp;Ruby on Rails</label><br class="clear"/>
      <input type="checkbox" name="extra[xl_involvement][5]" class="checkbox" id="xl_gapi" value="Google API"/><label for="xl_gapi" class="nudge">&nbsp;Google API</label><br class="clear"/>
      <input type="checkbox" name="extra[xl_involvement][6]" class="checkbox" id="xl_graph" value="Graphic Design"/><label for="xl_graph" class="nudge">&nbsp;Graphic Design</label><br class="clear"/>
      <input type="checkbox" name="extra[xl_involvement][7]" class="checkbox" id="xl_mark" value="Marketing"/><label for="xl_mark" class="nudge">&nbsp;Marketing</label><br class="clear"/>
      <input type="checkbox" name="extra[xl_involvement][8]" class="checkbox" id="xl_copy" value="Copy Writing"/><label for="xl_copy" class="nudge">&nbsp;Copy Writing</label><br class="clear"/>
      <input type="checkbox" name="extra[xl_involvement][9]" class="checkbox" id="xl_bug" value="Bug Testing"/><label for="xl_bug" class="nudge">&nbsp;Bug Testing</label><br class="clear"/>
     </p>
    <p>
     <label for="extra_xl_hours" class="left">How many hours can you commit per week to this project?</label>
     <input name="extra[unit_xl_hours]" id="extra_xl_hours" class="right_int text left" type="text" size="4" />
    </p> 
    </fieldset>
   <p><input class="button" type="submit" value="Submit" /></p>
</form>
</div>
