  <script type="text/javascript" id="constructor">
    function constructor(params) {
      return false;
    }
  </script>

<form id='list-selection-menu-form' action="" method="post">
  <%= hidden_field_tag "ids", "", :id => 'list-selection-menu-ids' %>
  <%= hidden_field_tag "tag_list", "", :id => 'list-selection-menu-tag_list' %>
  <%= hidden_field_tag "group_id", "", :id => 'list-selection-menu-group_id' %>
</form>
