<div class="ipage">
  <% remote_form_for(:layout, :url => layout_path(@layout), :html => { :method => :put }) do |f| %>
  <%= render :partial => "form", :locals => {:form => f} %>
  <% end %>
</div>

