<html>
<head>
  <title>API information for <%=h @controller.controller_name.to_s.humanize %></title>
  <style type="text/css" charset="utf-8">
  pre code strong { background: yellow; }
  </style>
</head>
<body>
  <h1>API information for  <%=h @controller.controller_name.to_s.humanize %></h1>
  <%= @content_for_layout %>
</body>
</html>
