<% content_for :css do %>
  <%= stylesheet_link_tag "register-signup" %>
<% end %>

<div align="center">
	<div id="content">
		<div id="top"></div>
		<div id="left"><h1><%= @domain.parent.name %></h1></div>
		
		<div id="right">
      <p>Thank you for registering an account at <%= @domain.parent.name %></p>
      <p>We have sent you a confirmation E-Mail. Please read the mail and follow the instructions attached.</p>
      <b><p>If you have not received the E-Mail within the next five minutes, please check your spam or junk folder.</p></b>
    </div>

		<div id="footer">
		  <div id="leftFooter">
		  <p>Copyrights 2008 XLsuite.com. All rights reserved</p>
		  </div>
		  <div id="rightFooter">
		  <a class="footerLink" href="#">Help</a> | 
		  <a class="footerLink" href="#">Terms of services</a> | 
		  <a class="footerLink" href="#">User Agreement</a> | 
		  <a class="footerLink" href="#">Privacy Policy</a>
		  </div>
		</div>

  </div>
</div>
