<p>You are attempting to access the <strong><%=h @authorization %> module</strong>.  You have not bought the right to use that account option.</p>
<p>If you want to use the <%=h @authorization %> module, buy it here:</p>
<p>FORM WOULD GO HERE</p>
